html, body {
    margin: 0 auto;
    /* font-family: 'Rasa', Tahoma, Verdana, Arial, sans-serif; */
    font-family: 'Courier';
    height: 100%;
    width: 100%;
    font-size: 12px;
}

::-moz-selection { background: yellow;  }
::selection { background: yellow;  }

.container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 25% 25% 25% 25%;
}

.center {
    grid-column: 2 / span 2;
    grid-row: 2 / span 2;
    z-index: 1;
    text-align: center;
    /* background: orange; */
    position: relative;
}

.center >h1 {
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
}

.preview {
    width: 100%;
    height: 100%;
    position: absolute;
    background: transparent;
    background-size: cover;
    z-index: 2;
    top: 0;
}

.tl {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
}
.tr {
    grid-column: 3 / span 2;
    grid-row: 1 / span 2;
}
.bl {
    grid-column: 1 / span 2;
    grid-row: 3 /span 2;
}
.br {
    grid-column: 3 / span 2;
    grid-row: 3 /span 2;
}

.bl >.padded {
    position: absolute;
    bottom: 0;
    left: 0;
}

.br >.padded{
    position: absolute;
    bottom: 0;
    right: 0;
}

.block {
    width: 100%;
    height: 100%;
    position: relative;
}

.padded {
    padding: 12px;
    width: 50%;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    background-color: #00C1FF;
    cursor: crosshair;
}

.header {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: normal;
}

.media-container >img {
    width: 100%;
}

.media-container {
    margin: 12px auto;
}

.right {
    text-align: right;
    float: right;
}

.project {
    max-width: 640px;
    padding: 18px;
    margin: 0 auto;
}

@media (max-width: 720px){
    /* html, body { */
    /*     height: auto; */
    /* } */
    .padded {
        width: 100%;
    }
}

.blink {
    animation: blink-animation 2.5s steps(2, start) infinite;
    -webkit-animation: blink-animation 2.5s steps(2, start) infinite;

}
@keyframes blink-animation {
    to {
            visibility: hidden;

    }

}
@-webkit-keyframes blink-animation {
    to {
            visibility: hidden;
    }
}
